[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sphinx = "*"
sphinx-rtd-theme = "*"


[dev-packages]
pytest = "*"
coverage = "*"
autopep8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"

[scripts]
version = "python --version"
